
.blog-pagination {
  margin-top: 80px;
}

.blog-pagination li a {
  font-size: 14px;
  position: relative;
  display: block;
  padding: 0;
  text-align: center;
  margin-left: -1px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 0 !important;
  background-color: #fbff24;
  border-color: #fbff24;
  color: #ffffff;
  border: 1px solid #fbff24;
  margin-right: 10px;
  cursor: pointer;
  
}

.blog-pagination button, i,
.blog-pagination li, span {
  font-size: 13px;
  color: #ffffff;
}

.blog-pagination .page-item.active li {
  background-color: #b3b619;
  border-color: #b3b619;
  color: #ffffff;
}

.blog-pagination .page-item:last-child li, button, a {
  margin-right: 0;
}

.pagination li a {
    color: #696969;
}

.pagination li a :hover{
    color: #ffffff;
}
.pagination li.selected a{
    background-color: #a89e0b;
    border-color: #f0e9ff;
    color: #ffffff!important;
}