@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


h4{
    font-family: 'Press Start 2P', cursive;;
    width: 200px;
    font-size: 10px;
    text-transform:uppercase;
    color: #071e2e;
    font-weight: bold;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{
    font-family: 'Press Start 2P', cursive;
    font-family: 'Press Start 2P', cursive;
    width: 200px;
    font-size: 10px;
    text-transform:uppercase;
    color: #071e2e;
    font-weight: bold;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h6{
    font-family: 'Press Start 2P', cursive;
}